// Define custom variable for the RGB color
$custom-blue: rgb(32, 62, 129);

// Apply the custom color to the header
header {
  background-color: $custom-blue;
}

// Apply the custom color to the button
button {
    background-color: $custom-blue;
    color: white; // Set default text color to white
    border: 1px solid white; // Add a 1px solid white border
    padding: 8px 16px; // Adjust padding as needed
    border-radius: 4px; // Optional: Add border-radius for rounded corners
    transition: color 0.3s ease; // Add a smooth transition for color change
  
    // Change text color to blue on hover
    &:hover {
        background-color: white;
        color: $custom-blue;
        border: 1px solid white;
    }
  }
  .bg-rgb-32-62-129 {
    background-color: rgb(32, 62, 129);
  }

  /* Estilos para los elementos arrastrables */
.cdk-drag {
  cursor: grab;
}

/* Estilos para los contenedores de lista */
.cdk-drop-list {
  border: 2px dashed #ccc; /* Borde punteado como indicador visual */
}

/* Estilos durante el arrastre */
.cdk-drag-preview {
  background-color: #f0f0f0; /* Cambia el color de fondo del elemento arrastrado */
  border: 2px solid #666; /* Añade un borde sólido al elemento arrastrado */
}

/* Estilos para el área de soltar */
.cdk-drop-list-dragging {
  background-color: #f0f0f0; /* Cambia el color de fondo del área de soltar */
  border: 2px dashed #666; /* Añade un borde punteado al área de soltar */
}
